/Proyecto2DistribuidosReloaded/nbproject/private/
/Proyecto2DistribuidosReloaded/build/
/Proyecto2DistribuidosReloaded/dist/
Proyecto2DistribuidosReloaded/nbproject/project.properties
/Distribuidor2/build/
/Distribuidor2/dist/